# coding: utf-8

# #####
#
# Settings.cfg - A TYPO3 Documentation Project's Configuration File
#
# About Syntax:
#   See https://docs.python.org/2/library/configparser.html
#
# Attention:
#   Only " ;" can start an inline comment.
#   This is: blank PLUS semicolon!
#
# #####

[general]

; endless list of all of the general simple settings
; you can use in 'conf.py'

project     = Developing TYPO3 Extensions with Extbase and Fluid
version     = latest
release     = latest
t3author    = Documentation Team
copyright   = Copyright since 2009

description = In a joint effort the TYPO3 community has created this translation
      of the book: Zukunftssichere TYPO3-Extensions mit Extbase und Fluid,
      by Jochen Rau, Sebastian Kurfürst, 1. Edition June 2010, ISBN 978-3-89721-965-6,
      336 pages, O'Reilly


[html_theme_options]

; for theme t3SphinxThemeRtd

github_branch        = latest
github_repository    = TYPO3-Documentation/TYPO3CMS-Book-ExtbaseFluid
github_revision_msg  =
github_sphinx_locale =
project_contact      = mailto:documentation@typo3.org
project_discussions  = http://lists.typo3.org/cgi-bin/mailman/listinfo/typo3-project-typo3v4mvc
project_home         = https://forge.typo3.org/projects/typo3cms-core
project_issues       = https://github.com/TYPO3-Documentation/TYPO3CMS-Book-ExtbaseFluid/issues
project_repository   = https://github.com/TYPO3-Documentation/TYPO3CMS-Book-ExtbaseFluid.git
use_opensearch       = https://docs.typo3.org/typo3cms/ExtbaseFluidBook

[intersphinx_mapping]

t3coreapi = https://docs.typo3.org/typo3cms/CoreApiReference/
t3tsconfig = https://docs.typo3.org/typo3cms/TSconfigReference/
t3api = http://typo3.org/api/typo3cms/
extcore = https://docs.typo3.org/typo3cms/extensions/core/latest/
